.complete {
    text-decoration: line-through;
}

.importance-high {
    color: red;
    font-weight: 800;
}

.importance-medium {
    color: orange;
}

.importance-low {
    color: blue;
}